@import url("https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Manrope:wght@200..800&display=swap");

@import 'tailwindcss';
@import 'tw-animate-css';

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100svh;
  overflow: hidden;
  z-index: 100000;
  pointer-events: all;
}

.loader .overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  color: var(--base-100);
}

.loader .block {
  width: 100%;
  height: 100%;
  background: var(--base-500);
}

.loader .intro-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  gap: 0.5rem;
}

.loader #word-1 {
  position: relative;
  left: 0rem;
  padding-right: 0.25rem;
  color: var(--base-100);
}

.loader #word-2 {
  position: relative;
  left: 0.5rem;
  padding-right: 0.25rem;
  color: var(--base-100);
}

.loader .word h1 {
  font-size: 2rem;
  color: var(--base-300);
  letter-spacing: -0.05rem;
}

.loader .divider {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  transform-origin: center top;
  width: 1px;
  height: 100%;
  background-color: rgba(242, 237, 230, 0.125);
}

.loader .spinner-container {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
}

.loader .spinner {
  width: 50px;
  height: 50px;
  border: 1.4px solid var(--base-350);
  border-top-color: rgba(242, 237, 230, 0.05);
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.loader .counter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.loader .count {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
}

.loader .digit {
  flex: 1;
  padding-top: 1rem;
}

.loader .count .digit h1 {
  font-size: 15rem;
  font-weight: 400;
  color: var(--base-400);
}

.loader .line,
.loader .word,
.loader .count .digit {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.loader .line h1,
.loader .line p,
.loader .count .digit h1 {
  position: relative;
  transform: translateY(120%);
  will-change: transform;
}

.loader #word-1 h1 {
  transform: translateY(-120%);
}

.loader #word-2 h1 {
  transform: translateY(120%);
}

.loader .block {
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.loader .divider {
  transform: scaleY(0%);
  will-change: transform;
}

@media (max-width: 1000px) {
  .loader .counter .count .digit h1 {
    font-size: 7rem;
  }

  .loader .counter .count .digit {
    padding-top: 0.25rem;
  }
}
.hero {
  position: relative;
  width: 100vw;
  height: 135svh;
  overflow: hidden;
  background-color: #d3cec5;
}

.hero .hero-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.hero .hero-gradient {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50svh;
  background: #1a1818;
  background: linear-gradient(
    360deg,
    rgba(20, 19, 19, 1) 0%,
    rgba(20, 19, 19, 0) 100%
  );
  z-index: 2;
}

.hero .hero-content {
  position: absolute;
  top: 50svh;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--base-100);
  text-align: center;
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 1rem;
}

.hero .hero-tagline {
  width: 40%;
  color: var(--base-200);
}

.hero .hero-stats {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 2;
}

.hero .hero-stats .container {
  display: flex;
  gap: 1rem;
  width: 100%;
}

.hero .hero-stats .stat {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  aspect-ratio: 16/9;
  color: var(--base-200);
  background-color: rgba(242, 237, 230, 0.1);
  backdrop-filter: blur(1rem);
  border-radius: 1rem;
  overflow: hidden;
}

.hero .hero-stats .stat-count,
.hero .hero-stats .stat-info {
  flex: 1;
}

.hero .hero-stats .stat-divider {
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.05);
}

.hero .hero-stats .stat-info {
  display: flex;
  align-items: flex-end;
}

@media (max-width: 1000px) {
  .hero {
    height: 175svh;
  }
  .hero .hero-content {
    width: 100%;
  }

  .hero .hero-tagline {
    width: 75%;
  }

  .hero .hero-stats .container {
    flex-direction: column;
  }

  .hero .hero-stats .stat {
    aspect-ratio: 16/6;
  }

  .hero .hero-stats .stat-divider {
    display: none;
  }
}

.what-we-do {
  width: 100vw;
  height: max-content;
  color: var(--base-100);
}

.what-we-do .container h1 {
  margin-bottom: 10rem;
  color: var(--base-100);
}

.what-we-do .what-we-do-content {
  width: 100%;
  display: flex;
  gap: 2rem;
}

.what-we-do .what-we-do-col {
  flex: 1;
}

.what-we-do .what-we-do-col:nth-child(1) {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.what-we-do .what-we-do-col:nth-child(1) p.lg {
  color: var(--base-300);
  width: 50%;
}

.what-we-do .what-we-do-col:nth-child(1) p {
  color: var(--base-100);
}

.what-we-do .what-we-do-col:nth-child(2) p {
  width: 35%;
}

.what-we-do .what-we-do-col .what-we-do-tags {
  width: 100%;
}

.what-we-do .what-we-do-tag {
  display: inline-block;
  padding: 1rem 2rem;
  margin: 0 0.5rem 0.5rem 0;
  border: 1px solid var(--base-400);
  border-radius: 4rem;
}

@media (max-width: 1000px) {
  .what-we-do .container h1 {
    margin-bottom: 8rem;
  }

  .what-we-do-content {
    flex-direction: column;
  }

  .what-we-do .what-we-do-col:nth-child(1) p.lg {
    width: 100%;
  }

  .what-we-do .what-we-do-tag {
    padding: 0.75rem 1.5rem;
    margin: 0 0.25rem 0.25rem 0;
  }
}

.featured-projects-container {
  position: relative;
  width: 100vw;
  padding: 10rem 0 0 0;
  color: var(--base-100);
  overflow: hidden;
}

.featured-projects-container .featured-projects-header-callout,
.featured-projects-container .featured-projects-header {
  text-align: center;
}

.featured-projects-container .featured-projects-header-callout {
  color: var(--base-350);
  margin-bottom: 2rem;
}

.featured-projects-container .featured-projects-header {
  width: 50%;
  margin: 0 auto 2rem auto;
}

@media (max-width: 1000px) {
  .featured-projects-container .featured-projects-header {
    width: 100%;
  }
}

.client-reviews-container {
  position: relative;
  width: 100vw;
  height: 120svh;
  color: var(--base-100);
  padding: 4rem 0 2rem 0;
}

.client-reviews-container .client-reviews-header-callout {
  text-align: center;
  color: var(--base-350);
  margin-bottom: 1rem;
}

@media (max-width: 1000px) {
  .client-reviews-container .client-reviews-header-callout {
    margin-bottom: 3rem;
  }
}

@media (min-height: 1200px) {
  .client-reviews-container {
    margin: 10rem 0 4rem 0;
    height: 60svh;
  }
}

.gallery-callout {
  position: relative;
  width: 100vw;
  height: 100%;
  min-height: 100svh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: var(--base-500);
  color: var(--base-200);
}

.gallery-callout .container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.gallery-callout .gallery-callout-col {
  flex: 1;
}

.gallery-callout .gallery-callout-copy {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.gallery-callout .gallery-callout-col:nth-child(1) {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.gallery-callout .gallery-callout-row {
  position: relative;
  left: -10vw;
  display: flex;
  width: 100%;
  gap: 1rem;
}

.gallery-callout .gallery-callout-img {
  position: relative;
  aspect-ratio: 5/4;
  flex: 1;
  border-radius: 0.75rem;
  overflow: hidden;
}

.gallery-callout .gallery-callout-img-content {
  position: absolute;
  z-index: 1;
  bottom: 1rem;
  left: 1rem;
  padding: 1rem;
  background-color: rgba(20, 19, 19, 0.25);
  backdrop-filter: blur(15px);
  color: var(--base-100);
  border-radius: 0.75rem;
}

.gallery-callout .gallery-callout-img-content p {
  color: var(--base-200);
}

.gallery-callout .gallery-callout-img-1 {
  flex: 0.75;
}

.gallery-callout .gallery-callout-img-4 {
  flex: 0.75;
}

.gallery-callout .gallery-callout-row:nth-child(1) {
  align-items: flex-end;
}

.gallery-callout .gallery-callout-row:nth-child(2) {
  align-items: flex-start;
}

@media (max-width: 1000px) {
  .gallery-callout .container {
    flex-direction: column;
  }

  .gallery-callout .gallery-callout-row {
    left: 0;
  }

  .gallery-callout .gallery-callout-img-content {
    display: none;
  }
}
:root {
  --base-100: rgb(242, 237, 230);
  --base-200: rgb(204, 200, 194);
  --base-250: rgb(179, 167, 152);
  --base-300: rgb(153, 143, 130);
  --base-350: rgb(128, 119, 108);
  --base-400: rgb(102, 95, 86);
  --base-450: rgb(31, 29, 29);
  --base-500: rgb(20, 19, 19);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

body {
  font-family: "Manrope", sans-serif;
  background-color: #0d0c0c;
}

section,
.footer {
  background-color: var(--base-500);
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  user-select: none;
}

h1 {
  font-size: 5rem;
  font-weight: 500;
  letter-spacing: -0.25rem;
  line-height: 1.05;
}

h2 {
  font-size: 3.5rem;
  font-weight: 550;
  letter-spacing: -0.15rem;
  line-height: 1.2;
}

h3 {
  font-size: 2.5rem;
  font-weight: 500;
  letter-spacing: -0.075rem;
  line-height: 1.2;
}

p {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.4;
}

p.md {
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.4;
}

p.lg {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.4;
}

p.mono {
  text-transform: uppercase;
  font-family: "DM Mono";
  font-size: 0.9rem;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
}

p.md.mono {
  font-size: 1rem;
}

p.lg.mono {
  font-size: 1.1rem;
}

a {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.4;
  color: var(--base-200);
  border-radius: 0.35rem;
}

span.spacer {
  display: inline-block;
  width: 20rem;
}

.container {
  width: 100%;
  height: 100%;
  padding: 2rem;
  max-width: 2000px;
  margin: 0 auto;
}

@media (max-width: 1000px) {
  h1 {
    font-size: 3rem;
    letter-spacing: -0.1rem;
  }

  h2 {
    font-size: 2rem;
    letter-spacing: -0.05rem;
  }

  h3 {
    font-size: 1.5rem;
    letter-spacing: -0.025rem;
  }

  .container {
    padding: 1rem;
  }
}

::view-transition-old(root),
::view-transition-new(root) {
  animation: none !important;
}

::view-transition-group(root) {
  z-index: auto !important;
}

::view-transition-image-pair(root) {
  isolation: isolate;
  will-change: transform, opacity, clip-path;
  z-index: 1;
}

::view-transition-new(root) {
  z-index: 10000;
  animation: none !important;
}

::view-transition-old(root) {
  z-index: 1;
  animation: none !important;
}

body.menu-open * {
  pointer-events: none;
}

body.menu-open .menu,
body.menu-open .menu *,
body.menu-open .menu-toggle {
  pointer-events: auto;
}
